*, *:after, *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
button, input {
    line-height: normal;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}


.App-intro {
  font-size: large;
  color: #fff;
}

.App-form {
  font-size: 20.2px;
  margin: auto;
  margin-top: 50px;
  position: relative;
  max-width: 350px;
  padding-bottom: 40px;
}
.msg {
   position: absolute;
   width: 100%;
   top: -80px;
   color: #E55934;
   font-size: 17px;
   background: hsla(0,0%,0%,.6);
   padding: 20px 0px;
}
.error {
   color: #E55934;
}
.success {

  color: #3CC76A;
  height: 130%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,.9);
}


@keyframes shake {
  from, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
      -webkit-transform: translate3d(-5px, 0, 0);
      transform: translate3d(-5px, 0, 0);
  }
  20%, 40%, 60%, 80% {
      -webkit-transform: translate3d(5px, 0, 0);
      transform: translate3d(5px, 0, 0);
  }
}
.shake {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: shake;
}